.inputField {
  display: grid;
  text-align: left;
}
.inputImg {
  justify-content: end;
}
.btns {
  display: flex;
  justify-items: space-around;
  margin-top: 5px;
}

.listTitleRow div {
  display: grid;
  grid-template-columns: repeat(3, (minmax(100px, auto)));
}

.listItem2 {
    border: 1px solid black;
    margin: 1px;
}