h1 {
    text-align: center;
}
.inputField {
  display: grid;
  text-align: left;
}
.inputImg {
  text-align: center;
}
.btns {
  display: flex;
  justify-content: space-around;
}
.btn {
    border-radius: 5px;
    width: 33%;
}

.attack {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    width: 100%;
}
.listField {
    display: flex;
}

.listTitleRow {

}

.listItem2 {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
#name, #cls, #cx, #hp, #mp, #str, #int, #dex, #lux, #birthDate, #imgURL, #btn {
    width: 85%;
}