.inputField {
  display: grid;
  text-align: left;
}
.inputImg {
  justify-content: end;
}
.btns {
  display: flex;
  justify-content: space-around;
}
.btn {
    border-radius: 5px;
    width: 33%;
}

.listTitleRow div {
  display: grid;
  grid-template-columns: repeat(3, (minmax(100px, auto)));
}

.listItem2 {
    border: 1px solid black;
    margin: 1px;
}
#name, #cls, #cx, #hp, #mp, #str, #int, #dex, #lux, #birthDate, #imgURL, #btn {
    width: 85%;
}