.inputField {
  display: grid;
  text-align: left;
}
.inputImg {
  justify-content: end;
}
.btns {
  display: flex;
  justify-items: space-around;
  margin-top: 5px;
}

.listTitleRow {
}

.listItem {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
