h1 {
    text-align: center;
}
.inputField {
  display: grid;
  text-align: left;
}
.inputImg {
  text-align: center;
}
.btns {
  display: flex;
  justify-content: space-around;
}
.btn {
    border-radius: 5px;
    width: 33%;
}

.attack {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    width: 100%;
}

.listTitleRow {
    width: 100%;
    display: flex;
    justify-content: center;
}

.listDataRow {
    display: flex;
}
.listItem {
    margin: 1px;
    padding: 1px;
}
.listItem2 {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    width: 100%;
    text-align: center;
}
#name, #cls, #cx, #hp, #mp, #str, #int, #dex, #lux, #birthDate, #imgURL, #btn {
    width: 85%;
    height: auto;
}